*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

bodY{
    background-color:rgb(247, 230, 230);
}

.container{
    max-width: 1180px;
    margin: 20px auto;
    background-color: rgb(247, 230, 230);
}

.header{
    height: 70px;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    /* margin: 30px; */
    background-color:rgb(238, 244, 241);
    align-items: center;
    border: 1px solid black;
}

.logo{
    height: 100%;
}
.logo img{
    height: 100%;
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin-right: 30px;
}

.card{
    /* height: 350px;
    max-height: 500px; */
    /* max-height: 350px; */
    /* width: 250px; */
    max-width: 300px;
    /* text-align: start; */
    font-size: 1rem;
    background-color: rgb(255, 254, 252);
    padding: 10px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    transition: box-shadow 0.2s ease,transform 0.3s ease;
}
.details{
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
}

.card:hover{
    transform: scale(1.05);

}
.card-photo{
    height: 70%;
    width: 100%;
}
.card-photo >img{
    height: 100%;
    width: 100%;
}

.cardContainer{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 90vh;
}

.search-box{
    justify-content: end;
    display: flex;
    /* margin-left: 50px; */
    padding: 10px;
    gap: 10px;
    background-color: rgb(238, 238, 238);
}

.location-box{
    border-radius: 2px;
    padding: 5px;
    width: 30%;
    background-color: #fff;
}

.search-box-items{
    width: 70%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.input-text{
    /* border: 1px solid black; */
    border-radius: 2px;
    padding: 5px;
    width: 40%;
}

.search-btn{
    border-radius: 2px;
    padding: 5px;
    width: 200px;
    background-color: #fff;
}

.shimmer-cardlist{
    display: flex;
    flex-wrap: wrap;
    gap: 50px 100px;
}
.shimmer-card{
    width: 300px;
    height: 350px;
    background-color: #c4c4c4;
    border-radius: 8px;
}

.RestaurantMenuCard img{
 height: 250px;
}

.RestaurantMenuCard{
    /* height: 350px;
    width: 250px; */
    font-size: 1rem;
    background-color: rgb(255, 254, 252);
    padding: 10px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    transition: box-shadow 0.2s ease,transform 0.3s ease;
}

.restaurantDetails{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    font-size: 1rem;
    background-color: rgb(255, 254, 252);
    padding: 10px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    transition: box-shadow 0.2s ease,transform 0.3s ease;
}

.Menu{
    /* height: 350px; */
    font-size: 1rem;
    background-color: rgb(255, 254, 252);
    padding: 10px;
    box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    transition: box-shadow 0.2s ease,transform 0.3s ease;
    flex-grow: 1;
}

.login{
    display: flex;
    gap: 30px;
    align-items: center;
}

.login img{
    height:20px;
    
}

.footer{
    height: 200px;
    background-color: #454545;
}
.footer-items{
    background-color: inherit;
}